{% extends "base.html" %}
{% block title %}401 Error Unauthorized{% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="401">401</div>
                        <p class="lead text-gray-800 mb-5">Unauthorized</p>
                        <p class="text-gray-500 mb-0">Authentication is required and has failed or has not yet been provided. The user does not have valid authentication credentials for the target resource, try relogging in.</p>
                        <a href="{{ url_for('home_page') }}">&larr; Back to Home Page</a>
                    </div>

                </div>
                <!-- /.container-fluid -->


            <!-- End of Main Content -->
{% endblock %}
