{% extends "base.html" %}
{% block title %}402 Error Payment Needed{% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="402">402</div>
                        <p class="lead text-gray-800 mb-5">Forbidden</p>
                        <p class="text-gray-500 mb-0">Stripe uses this code for failed payments where parameters were correct, for example blocked fraudulent payments.</p>
                        <a href="{{ url_for('home_page') }}">&larr; Back to Home Page</a>
                    </div>

                </div>
                <!-- /.container-fluid -->


            <!-- End of Main Content -->
{% endblock %}
