{% extends "base.html" %}
{% block title %}403 Error Forbidden{% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="403">403</div>
                        <p class="lead text-gray-800 mb-5">Forbidden</p>
                        <p class="text-gray-500 mb-0">The request contained valid data and was understood by the server, but the server is refusing action. Please reload or start from homepage again.</p>
                        <a href="{{ url_for('home_page') }}">&larr; Back to Home Page</a>
                    </div>

                </div>
                <!-- /.container-fluid -->


            <!-- End of Main Content -->
{% endblock %}
