{% extends "base.html" %}
{% block title %}Retailer Location{% endblock %}

{% block content %}
<style>
    .neomorphic {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        transition: box-shadow 0.3s ease;
      }
  .neomorphic:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }
    </style>
    <div class="container mt-4 col-md-5">
        <h1>Great Deals!</h1>
        <p>Welcome to our deals page! Here, you can explore a range of upcoming deals</p>
            <div  aria-selected="true"><i class="fas fa-info-circle"></i> Overview</div></div>
<div class="container mt-5" >
    
      <div class="col-md-4 mx-auto">
        <div class="neomorphic p-4 text-center">
          <a target="blank" href="https://www.google.com/maps/place/Khoo+Teck+Puat+Hospital/@1.4228957,103.8376377,17z/data=!4m14!1m8!3m7!1s0x31da146c6e9a63af:0x6961b610a7be48b9!2sKhoo+Teck+Puat+Hospital!8m2!3d1.4246142!4d103.838217!14m1!1BCgIgARICCAI!3m4!1s0x31da146c6e9a63af:0x6961b610a7be48b9!8m2!3d1.4246142!4d103.838217"><img src="https://cdn.shopify.com/s/files/1/1861/4635/files/31_480x480.png?v=1605614694" alt="Walking stick" class="img-fluid mb-4"></a>
          <h1 class="mb-4">KTPH</h1>
          <p>Khoo Teck Puat Hospital The ABLE Studio<br>
            ,90 Yishun Central, S768828<br>
            Tower B Level 1<br>
            <br><br>
            Mon - Fri: 9.00am - 7.00pm<br>
            Sat:  9.00am - 3.00pm<br>
            Sun: 10.30am to 3pm<br>
            Close on Public Holidays<br>
            Tel: 66022253<br>
            Nearest MRT Station:  Yishun<br>
            Model Available: Limited Collection <br>
        </div>
      </div>
    </div>

{% endblock %}
