{% extends "base.html" %}
{% block title %}Retailer Location{% endblock %}

{% block content %}
<style>
    .neomorphic {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        transition: box-shadow 0.3s ease;
      }
  .neomorphic:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }
    </style>
    <div class="container mt-4 col-md-5">
        <h1>Visit us!</h1>
        <p> Comne an visit us! Everyone of the locations is an experience center for you to get to try out before buying</p>
            <div  aria-selected="true"><i class="fas fa-info-circle"></i> Overview</div></div>
<div class="container mt-5" >
    
      <div class="col-md-8 mx-auto">
        <div class="neomorphic p-4 text-center">
          <a target="blank" href="https://www.google.com/maps/place/Khoo+Teck+Puat+Hospital/@1.4228957,103.8376377,17z/data=!4m14!1m8!3m7!1s0x31da146c6e9a63af:0x6961b610a7be48b9!2sKhoo+Teck+Puat+Hospital!8m2!3d1.4246142!4d103.838217!14m1!1BCgIgARICCAI!3m4!1s0x31da146c6e9a63af:0x6961b610a7be48b9!8m2!3d1.4246142!4d103.838217"><img src="https://cdn.shopify.com/s/files/1/1861/4635/files/31_480x480.png?v=1605614694" alt="Walking stick" class="img-fluid mb-4"></a>
          <iframe src="https://www.google.com/maps/embed?pb=!4v1672580484366!6m8!1m7!1sGRWRyXrHnRoFx9lB0t60fw!2m2!1d1.423305468155933!2d103.8383074523828!3f306.73885546737!4f5.754857429723884!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h1 class="mb-4">KTPH</h1>
          <p>Khoo Teck Puat Hospital The ABLE Studio<br>
            ,90 Yishun Central, S768828<br>
            Tower B Level 1<br>
            <br><br>
            Mon - Fri: 9.00am - 7.00pm<br>
            Sat:  9.00am - 3.00pm<br>
            Sun: 10.30am to 3pm<br>
            Close on Public Holidays<br>
            Tel: 66022253<br>
            Nearest MRT Station:  Yishun<br>
            Model Available: Limited Collection <br>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="col-md-8 mx-auto">
        <div class="neomorphic p-4 text-center">
          <a target="blank" href="https://goo.gl/maps/YwDEW1p8Y9Ht93TT8"><img src="https://cdn.shopify.com/s/files/1/1861/4635/files/014_480x480.png?v=1605518482" alt="Walking stick" class="img-fluid mb-4"></a>
          <iframe src="https://www.google.com/maps/embed?pb=!4v1672580880884!6m8!1m7!1sIIUdaLLRVzsbv96PingC8Q!2m2!1d22.36484805374337!2d114.1154987076442!3f111.85982831953004!4f11.240707496511902!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h1 class="mb-4">Hoho live</h1>
          <p>HOHOLIFE<br>
HongKong<br>
            香港荃灣德士古道220-248號荃灣工業中心612室<br>
            
            Unit 612, TWIC, 220-248 Texaco Road, Tsuen Wan, Hong Kong<br>
             Mon-Sat: 12nn-6pm<br>
             +852 37099320</p>
        </div>
      </div>
    </div>

{% endblock %}
